#name {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: hsla(167, 29%, 85%, 1);
  color: #272932;
  max-width: 95%;
  margin: 0 auto;
}

p {
  text-align: justify;
}

.center-image {
  display: block;
  margin-right: 15px;

  /* this let's the image rounded, to use it adjust the #picture-paolo width to 200px  */
  /* border-radius: 100%; */
  object-fit: cover;
}

.description {
  position: absolute;
}

/* Fazer o objeto flutuante responsivo, manter o parágrafo sempre a direita e não ficar texto embaixo da foto. Procurei exemplos em outras páginas mas só encontrei com flexbox, inclusive um que a imagem era escondida se o tamanho da tela fosse muito reduzido.*/
/* resolvi com z-index: imagem e descrição em uma div e o conteúdo do site em outra.  */

#picture-paolo {
  float: left;
  width: 150px;
  height: 200px;
  padding: 10px;
  /* background-color: lime; */
}

#img-description {
  max-width: 90%;
  margin: 0 auto;
  z-index: 1;
  /* border: 2px solid teal; */
}

#social-media {
  margin-top: 50px;
}

#site-content {
  position: absolute;
  z-index: 2;
  /* border: 2px solid teal; */
}

.smaller-font {
  font-size: 15px;
  color: rgb(100, 156, 156);
}
