#header {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  /* border: 2px solid teal; */
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #1f2833;
  color: #66fcf1;
}

a {
  color: #66fcf1;
}

p {
  text-align: justify;
}

/* #img-paolo {
  border: 2px solid rgb(51, 53, 197);
} */

#picture-paolo {
  float: left;
  width: 150px;
  height: 200px;
  padding: 10px;
  /* This centers the image: */
  display: block;
  object-fit: cover;
}

#img-description {
  display: flex;
  z-index: 1;
  margin-bottom: 10px;
  /* border: 2px solid teal; */
}

#site-content {
  position: absolute;
  z-index: 2;
  padding: 10px;
  /* border: 2px solid teal; */
}

.smaller-font {
  font-size: 15px;
  color: #45a29e;
}

ul {
  list-style-type: circle;
}

.first-color {
  background: #edc7b7;
}
.second-color {
  background: #eee2dc;
}
.third-color {
  background: #bab2b5;
}
.fourth-color {
  background: #123c69;
}
.fifth-color {
  background: #ac3b61;
}
